<div class="body-padding">
    <form [formGroup]="customerForm" (submit)="submit()"> 
        <p>
            <mat-form-field>
                <input matInput placeholder="ชื่อ" type="text" formControlName="firstName">
                <mat-error *ngIf="checkFirstName()">
                    <strong>จำเป็นต้องกรอก</strong> ชื่อ
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="นามสกุล" type="text" formControlName="lastName">
                <mat-error *ngIf="checkLastName()">
                    <strong>จำเป็นต้องกรอก</strong> นามสกุล
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input [max]="maxDate" matInput [matDatepicker]="picker" placeholder="วันเกิด" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="เพศ" formControlName="gender">
                    <mat-option value="male">ชาย</mat-option>
                    <mat-option value="female">หญิง</mat-option>
                    <mat-option value="other">อื่น ๆ</mat-option>
                </mat-select>
                <mat-error *ngIf="checkGender()">
                    <strong>จำเป็นต้องกรอก</strong> เพศ
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="หมายเลขโทรศัพท์" type="number" formControlName="phoneNumber">
                <mat-error *ngIf="checkPhoneNumber()">
                    <strong>จำเป็นต้องกรอก</strong> หมายเลขโทรศัพท์
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="ที่อยู่" type="text" formControlName="address">
                <mat-error *ngIf="checkAddress()">
                    <strong>จำเป็นต้องกรอก</strong>ที่อยู่
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="จังหวัด" formControlName="province">
                    <mat-option *ngFor="let province of provinces" value={{province}}>{{province}}</mat-option>
                </mat-select>
                <mat-error *ngIf="checkProvince()">
                    <strong>จำเป็นต้องกรอก</strong> จังหวัด
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput #postalCode maxlength="5" placeholder="รหัสไปรษณีย์" formControlName="postalCode">
                <mat-hint align="end">{{this.customerForm.get('postalCode').value.length}} / 5</mat-hint>
                <mat-error *ngIf="checkPostal()">
                    <strong>จำเป็นต้องกรอก</strong> เลข
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="E-mail" type="email" formControlName="email" [email]="true">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="ช่องทางการแนะนำ" formControlName="referral">
                    <mat-option *ngFor="let re of referral" value={{re}}>{{re}}</mat-option>
                </mat-select>
                <mat-error *ngIf="checkReferral()">
                    <strong>จำเป็นต้องกรอก</strong> ช่องทางการแนะนำ
                </mat-error>
            </mat-form-field>
        </p>
        <button mat-raised-button color="accent" type="submit">บันทึก</button>
    </form>
</div>