<div>
    <mat-progress-bar mode="indeterminate" *ngIf="(ldService.$loadEvent | async)"></mat-progress-bar>
    <button (click)="signIn()" *ngIf="!afAuth.auth.currentUser">
        Guest Sign-in
    </button>
    <div *ngIf="userCreated">
        <div *ngIf="afAuth.auth.currentUser">
            <h5>Select role to access demo.</h5>
            <button mat-raised-button color='primary' (click)="chooseRole('acc')">Accountant</button>
            <button mat-raised-button color='primary' (click)="chooseRole('sales')">Sales</button>
            <button mat-raised-button color='primary' (click)="chooseRole('editor')">Editor</button>
        </div>
    </div>

</div>