<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav"
    fixedInViewport ="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngIf="isloggedIn">
      <a mat-list-item (click)="goTo('/home')">Home</a>
      <a mat-list-item (click)="goTo('/orders')">Order List</a>
      <a mat-list-item (click)="goTo('/customers')">Customer List</a>
      <a mat-list-item (click)="goTo('/customer-input')">Customer Input</a>
      <a mat-list-item (click)="goTo('/tour-input')">Tour Input</a>
      <a mat-list-item (click)="goTo('/landing-page')">Edit Profile</a>
      <a mat-list-item (click)="goTo('/accountant/orders')">Accountant orders</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>kw-cdp-prototype</span>
      <span class="spacer "></span>
      <a [routerLink]="" (click)="logOut()">Sign Out</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
