<div class="body-padding">
    <header>
        <h3>ลูกค้าของคุณ</h3>
    </header>
    <div>
        <mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
        <div *ngIf="loadFailed">
            <h2>
                Loading Timeout. Please try again later.
            </h2>
        </div>
    </div>
    <div>
        <table mat-table [dataSource]="customerArray" class="mat-elevation-z8">
            <ng-container matColumnDef="customerId">
                <th mat-header-cell *matHeaderCellDef> ID ลูกค้า </th>
                <td mat-cell *matCellDef="let customer"> {{customer.customerId}} </td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> ชื่อจริง </th>
                <td mat-cell *matCellDef="let customer"> {{customer.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> นามสกุล </th>
                <td mat-cell *matCellDef="let customer"> {{customer.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> เพศ </th>
                <td mat-cell *matCellDef="let customer"> {{customer.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef> เบอร์โทรศัพท์ </th>
                <td mat-cell *matCellDef="let customer"> {{customer.phoneNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="province">
                <th mat-header-cell *matHeaderCellDef> จังหวัด </th>
                <td mat-cell *matCellDef="let customer"> {{customer.currentAddress.province}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> อีเมล </th>
                <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
            </ng-container>

            <ng-container matColumnDef="referral">
                <th mat-header-cell *matHeaderCellDef> การแนะนำ </th>
                <td mat-cell *matCellDef="let customer"> {{customer.referral}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let customer">
                    <button color="primary" mat-flat-button [matMenuTriggerFor]="beforeMenu">menu</button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="goToCustomer(customer.customerId)">view info</button>
                        <!-- <button mat-menu-item (click)="viewOrders(customer.customerId)">view orders</button> -->
                        <button mat-menu-item (click)="addOrder(customer.customerId)">add order</button>
                        <button mat-menu-item (click)="viewOrders(customer.customerId)">upload docs</button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>