<div class="body-padding">
    <mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
    <form [formGroup]="tourForm" (submit)="submit()">
        <p>
            <mat-form-field>
                <input matInput placeholder="Tour ID" type="text" formControlName="tourId">
                <mat-error *ngIf="checkTourId()">
                    Tour ID <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Tour Name" type="text" formControlName="tourName">
                <mat-error *ngIf="checkTourName()">
                    Tour name <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <span matPrefix>฿ &nbsp;</span>
                <input matInput placeholder="Price" type="number" formControlName="price">
                <mat-error *ngIf="checkPrice()">
                    Price <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <button mat-raised-button color="accent" type="submit">Submit</button>
    </form>
</div>