<div class="body-padding">
    <div>
        <mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
        <div *ngIf="loadFailed">
            <h2>
                Loading Timeout. Please try again later.
            </h2>
        </div>
        <div *ngIf="addTourFailed">
            <h2 style="color: red;">
                Add tour failed.
            </h2>
        </div>
    </div>
    <form [formGroup]="tourForm">
        <p>
            <mat-form-field>
                <input matInput placeholder="Tour ID" type="text" formControlName="tourId">
                <mat-error *ngIf="checkTourId()">
                    Tour ID <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Tour Name" type="text" formControlName="tourName">
                <mat-error *ngIf="checkTourName()">
                    Tour name <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <span matPrefix>฿ &nbsp;</span>
                <input matInput placeholder="Price" type="number" formControlName="price">
                <mat-error *ngIf="checkPrice()">
                    Price <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
    </form>
    <span *ngIf="tourExists" style="color:rgb(231, 22, 22);">
        <h5>
            Error, tour already exists.
        </h5>
    </span>
    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
</div>