<div class="body-padding">
    <mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
    <form [formGroup]="tourForm" (submit)="submit()">
        <p>
            <mat-form-field>
                <input matInput placeholder="Tour ID" type="text" formControlName="tourId">
                <mat-error *ngIf="checkTourId()">
                    <strong>จำเป็นต้องกรอก</strong> Tour ID
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="ชื่อทัวร์" type="text" formControlName="tourName">
                <mat-error *ngIf="checkTourName()">
                    <strong>จำเป็นต้องกรอก</strong> ชื่อทัวร์
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <span matPrefix>฿ &nbsp;</span>
                <input matInput placeholder="ราคา" type="number" formControlName="price">
                <mat-error *ngIf="checkPrice()">
                    <strong>จำเป็นต้องกรอก</strong> ราคา
                </mat-error>
            </mat-form-field>
        </p>
        <button mat-raised-button color="accent" type="submit">ยืนยัน</button>
    </form>
</div>