/* You can add global styles to this file, and also import other style files */
@import './css-templates/w3.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~firebaseui/dist/firebaseui.css';
@import './css-templates/example.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body-padding{
    padding: 20px;
}

table {
    width: 100%;
}

.completed{
    color: rgb(93, 230, 40);
  }